@model TaskTracker.Models.TaskVM


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    var employees = (IEnumerable<SelectListItem>)TempData["Employees"];
    var clients = (IEnumerable<SelectListItem>)TempData["Clients"];
    
    
    
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <table class="table", style="border:inset">
        <tr>
            <th>@Html.DisplayNameFor(model => model.TaskDefinition)</th>
            <th>@Html.DisplayNameFor(model => model.NumberOfSteps)</th>
            <th>@Html.DisplayNameFor(model => model.IsCompleted)</th>
            <th>Pick an employee to whom you want to assign the task:</th>
            <th>Pick a client that requested the task:</th>
            <th>Create the task</th>
        </tr>
    
        <tr>
            <td>@Html.EditorFor(model => model.TaskDefinition)</td>
            <td>@Html.EditorFor(model => model.NumberOfSteps)</td>
            <td>@Html.EditorFor(model => model.IsCompleted)</td>
            <td>@Html.DropDownListFor(m => m.EmployeeId, employees)</td>
            <td>@Html.DropDownListFor(m => m.ClientId, clients)</td>
            <td><input type="submit" value="Create Task"></td>
        </tr>
    </table>
}

