@model TaskTracker.Models.TaskVM
@{
    ViewBag.Title = "Task Details";
}

<h2>Task Details</h2>


<table class="table">


    <tr>
        <th>Task Id</th>
        <th>Manager Id</th>
        <th>Employee Id</th>
        <th>Number of steps</th>
        <th>Task Definition</th>
        <th>Task Percentage</th>

        @if (Session["Role"] != null)
        {
            if (Session["Role"].ToString() == "manager" || Session["Role"].ToString() == "employee")
            {
                <th>Add Step</th>
            }
        }

    </tr>

    <tr>
        <td>
            @Html.DisplayFor(modelItem => modelItem.TaskId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.ManagerId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.EmployeeId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.NumberOfSteps)
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.TaskDefinition)
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.TaskPercentage)
        </td>

        @if (Session["Role"] != null)
        {
            if (Session["Role"].ToString() == "manager" || Session["Role"].ToString() == "employee")
            {
                <td>@Html.ActionLink("Add Step", "CreateStep", new { taskId = Model.TaskId })</td>
            }
        }

    </tr>
</table>

@if (Model.Steps.Count > 0)
{
    <table class="table">
        <tr>
            <th>Steps</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>

        <tr>
            <th>Step Id</th>
            <th>Message</th>
            <th>Is Completed</th>
            <th>Details</th>
            <th></th>

        </tr>

        @foreach (var status in Model.Steps)
        {
    <tr>
        <td>@Html.DisplayFor(modelItem => status.StepId)</td>
        <td>@Html.DisplayFor(modelItem => status.Message)</td>
        <td>@Html.DisplayFor(modelItem => status.IsCompleted)</td>
        <td>
            @Html.ActionLink("Details ", "StepDetails", new { stepId = status.StepId })

            @if (Session["Role"] != null)
            {
                if (Session["Role"].ToString() == "manager" || Session["Role"].ToString() == "employee")
                {
                @Html.ActionLink("Edit ", "EditStep", new { stepId = status.StepId })
                @Html.ActionLink("Delete", "DeleteStep", new { stepId = status.StepId })
                }
            }
            </td>
            <td></td>
        </tr>
        }
    </table>
}

<p>
    @Html.ActionLink("Back to the list of all tasks", "ListAllTasks")
</p>
