@model TaskTracker.Models.ClientRegisterModel

@{
    ViewBag.Title = "Client Registration";
}

    <h2>Client registration</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <p>
        @Html.LabelFor(model => model.CompanyName)<br />
        @Html.EditorFor(model => model.CompanyName)
        @Html.ValidationMessageFor(model => model.CompanyName)
    </p>

    <p>
        @Html.LabelFor(model => model.Country)<br />
        @Html.EditorFor(model => model.Country)
        @Html.ValidationMessageFor(model => model.Country)
    </p>

    <p>
        @Html.LabelFor(model => model.Address)<br />
        @Html.EditorFor(model => model.Address)
        @Html.ValidationMessageFor(model => model.Address)
    </p>

    <p>
        @Html.LabelFor(model => model.Email)<br />
        @Html.EditorFor(model => model.Email)
        @Html.ValidationMessageFor(model => model.Email)
    </p>

    <p>
        @Html.LabelFor(model => model.Password)<br />
        @Html.EditorFor(model => model.Password)
        @Html.ValidationMessageFor(model => model.Password)
    </p>

    <p>
        @Html.LabelFor(model => model.ConfirmPassword) <br />

        @Html.EditorFor(model => model.ConfirmPassword)
        @Html.ValidationMessageFor(model => model.ConfirmPassword)
    </p>

    <p>
        <input type="submit" value="Register Client" class="btn btn-default" />
    </p>
}