@model TaskTracker.Models.AdminRegisterModel

@{
    ViewBag.Title = "Admin Registration";
}

<h2>Admin registration</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <p>
        @Html.LabelFor(model => model.Email) <br />

        @Html.EditorFor(model => model.Email)
        @Html.ValidationMessageFor(model => model.Email)
    </p>

    <p>
        @Html.LabelFor(model => model.Password) <br />

        @Html.EditorFor(model => model.Password)
        @Html.ValidationMessageFor(model => model.Password)
    </p>

    <p>
        @Html.LabelFor(model => model.ConfirmPassword)<br />
        @Html.EditorFor(model => model.ConfirmPassword)
        @Html.ValidationMessageFor(model => model.ConfirmPassword)
    </p>

    <p>
        <input type="submit" value="Register Admin" class="btn btn-default" />
    </p>
}