
@model IEnumerable<TaskTracker.Models.ClientVM>

@if (Session["Role"] != null)
{
    if (Session["Role"].ToString() == "admin")
    {
        <p>
            @Html.ActionLink("Register New Client", "RegisterClient", "Account")
        </p>
    }
}



<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyName)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            <td>

            </td>
        </tr>
    }

</table>
